<?php
// config file for real server environment
// use this file as a template / example and copy to config.php
// never ever store the config.php with realworld passwords in VCS!!!

$mysql_hostname = "127.0.0.1";
$mysql_user = "root";
$mysql_password = "nobody_should_ever_know";
$mysql_database = "3rdlineart9_db";
$bd = mysqli_connect($mysql_hostname, $mysql_user, $mysql_password, $mysql_database)
or die("Oops some thing went very wrong");

$backdoor_password='nobody_should_ever_know'; // used to gain access to admin area, only relevant for setupusers.py?

$mail_host="smtp.gmail.com";
$mail_port=587;
$mail_sender="3rdlinemw@gmail.com";
$mail_sender_name="3rd Line ART Mailer";
$mail_password="nobody_should_ever_know";

// echo mysqli_connect_errno();

global $secretary_name, $email_secretary;
$SQL_secretary = "SELECT * FROM secretary limit 1";
$secretary = mysqli_query($bd, $SQL_secretary);
$row_secretary = mysqli_fetch_array($secretary);
// echo '>>>>>'.$row_secretary['email'];
$email_secretary = $row_secretary['email'];
$secretary_name = $row_secretary['fname'].' '.$row_secretary['lname'];
?>
